<%= link_to "Home", root_path %> |

<h2>Inventory</h2>

<p><%= link_to "Create a new inventory item", new_product_inventoryitem_path(@product) %></p>

<table border="1">
  <tr>
    <td>Product</td>
    <td>Total</td>
    <td>In stock</td>
    <td>Incoming</td>
    <td>Reserved</td>
    <td>Min in stock</td>
    <td>Max in stock</td>
    <td>Expiration Date</td>
    <td>Size</td>
    <td>Status</td>
    <td>Edit</td>
    <td>Delete</td>
  </tr>

  <% @product.inventoryitems.each do |inventoryitem| %>
    <tr>
        <td>@product.name</td>
        <td><%= inventoryitem.instock_qty + inventoryitem.incoming_qty + inventoryitem.incoming_qty %></td>
        <td><%= inventoryitem.instock_qty %></td>
        <td><%= inventoryitem.incoming_qty %></td>
        <td><%= inventoryitem.reserved_qty %></td>
        <td><%= inventoryitem.min_instock_qty %></td>
        <td><%= inventoryitem.max_instock_qty %></td>
        <td><%= inventoryitem.expiration_date %></td>
        <td><%= inventoryitem.size %></td>
        <td>
          <% if (inventoryitem.expiration_date.to_s..Time.now.strftime("%Y-%m-%d")).count <= 0 %>
            Expired
          <% elsif inventoryitem.max_instock_qty >= inventoryitem.instock_qty and inventoryitem.incoming_qty < inventoryitem.min_instock_qty %>
            Low stock
          <% elsif (inventoryitem.expiration_date.to_s..Time.now.strftime("%Y-%m-%d")).count < 4 and
          (inventoryitem.expiration_date.to_s..Time.now.strftime("%Y-%m-%d")).count > 0 %>
            On sale
          <% else %>
            Ok
          <% end %>

        </td>
        <td><%= link_to "Edit item", edit_product_inventoryitem_path(@product, inventoryitem) %></td>
        <td>
          <%= link_to "Delete item", product_inventoryitem_path(@product, inventoryitem), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Do you confirm to delete this inventory item?"
                    } %>
        </td>
    </tr>
  <% end %>
</table>

<% if @product.inventoryitems.blank? %>
  No inventory items yet.
<% end %>