<%= form_with model: [ product, inventory_item ] do |form| %>

  <p>
    <%= form.label :barcode %><br>
    <%= form.text_field :barcode %>
    <% inventory_item.errors.full_messages_for(:barcode).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>

  <p>
    <%= form.label :warehouse_id %><br>
    <%= form.collection_select :warehouse_id, Warehouse.all, :id, :name %>
    <% inventory_item.errors.full_messages_for(:warehouse_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>

  <p>
    <%= form.label :status %><br>
    <%= form.select :status, ['In stock', 'Reserved', 'Incoming', 'Sold' ] %>
    <% inventory_item.errors.full_messages_for(:status).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>

  <p>
    <%= form.label :lot_number %><br>
    <%= form.text_field :lot_number %>
    <% inventory_item.errors.full_messages_for(:lot_number).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>

  <p>
    <%= form.label :expiration_date %><br>
    <%= form.date_select :expiration_date %>
    <% inventory_item.errors.full_messages_for(:expiration_date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>

  <p>
    <%= form.label :size %><br>
    <%= form.text_field :size %>
    <% inventory_item.errors.full_messages_for(:size).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>