<%= form_with model: product do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% product.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
    <% product.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>

  <p>
    <%= form.label :weight %> in kg<br>
    <%= form.number_field :weight %>
    <% product.errors.full_messages_for(:weight).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>

  <p>
    <%= form.label :price %><br>
    <%= form.number_field :price %>
    <% product.errors.full_messages_for(:price).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>

  <p>
    <%= form.label :brand %><br>
    <%= form.text_field :brand %>
    <% product.errors.full_messages_for(:brand).each do |message| %>
       <div><%= message %></div>
    <% end %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>