<%= link_to "Edit product", edit_product_path(@product) %> |
<%= link_to "Delete product", product_path(@product), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>

<h1><%= @product.name %></h1>

<p><%= @product.description %></p>
<p>Weight: <%= @product.weight %> kg</p>
<p>Price: $<%= @product.price %></p>
<p>Brand: <%= @product.brand %></p>