<%= link_to "Edit product", edit_product_path(@product) %> |
<%= link_to "Delete product", product_path(@product), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>

<h1><%= @product.name %></h1>

<p><%= @product.description %></p>
<p>Weight: <%= @product.weight %> kg</p>
<p>Price: $<%= @product.price %></p>
<p>Brand: <%= @product.brand %></p>

<h2>Inventory</h2>

<p><%= link_to "Create a new inventory item", new_product_inventoryitem_path(@product) %></p>

<table border="1">
  <tr>
    <td>In stock</td>
    <td>Incoming</td>
    <td>Reserved</td>
    <td>Minimum</td>
    <td>Maximum</td>
    <td>Expiration Date</td>
    <td>Size</td>
    <td>Edit</td>
    <td>Delete</td>
  </tr>

  <% @product.inventoryitems.each do |inventoryitem| %>
    <tr>
        <td><%= inventoryitem.instock_qty %></td>
        <td><%= inventoryitem.incoming_qty %></td>
        <td><%= inventoryitem.reserved_qty %></td>
        <td><%= inventoryitem.min_instock_qty %></td>
        <td><%= inventoryitem.max_instock_qty %></td>
        <td><%= inventoryitem.expiration_date %></td>
        <td><%= inventoryitem.size %></td>
        <td><%= link_to "Edit item", edit_product_inventoryitem_path(@product, inventoryitem) %></td>
        <td>
          <%= link_to "Delete item", product_inventoryitem_path(@product), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Do you confirm to delete this inventory item?"
                    } %>
        </td>
    </tr>
  <% end %>
</table>

<% if @product.inventoryitems.blank? %>
  No inventory items yet.
<% end %>