<p>
  <%= link_to "All Products", root_path %> |
  <%= link_to "All Warehouses", warehouses_path %> |
  <%= link_to "Edit Product", edit_product_path(@product) %> |
  <%= link_to "Delete Product", product_path(@product), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Do you confirm deleting product and all its inventory?"
                    } %> |
  <%= link_to "Add Inventory Item", new_product_inventory_item_path(@product) %>
</p>

<h1>Product: <%= @product.name %></h1>
<p>Description: <%= @product.description %></p>
<p>Weight: <%= @product.weight %> kg</p>
<p>Price: $<%= @product.price %></p>
<p>Brand: <%= @product.brand %></p>

<h2>Inventory of this product</h2>

<h3>Inventory statistics</h3>
<table border="1">
  <tr>
    <td>Total</td>
    <td>In stock</td>
    <td>Reserved</td>
    <td>Incoming</td>
    <td>Sold</td>
    <td>Expired</td>
    <td>Time for sale</td>
    <td># Distinct warehouses</td>
  </tr>

  <tr>
        <td><%= @total_count %>
        <td><%= @instock_count %></td>
        <td><%= @reserved_count %></td>
        <td><%= @incoming_count %></td>
        <td><%= @sold_count %></td>
        <td><%= @expired_count %></td>
        <td><%= @sale_count %></td>
        <td><%= @warehouse_count %></td>
    </tr>
</table>

<h3>Inventory items</h3>
<table border="1">
  <tr>
    <td>Barcode</td>
    <td>Status</td>
    <td>Lot Number</td>
    <td>Expiration Date</td>
    <td>Size</td>
    <td>Location</td>
    <td>Edit</td>
    <td>Delete</td>
  </tr>

  <% @product.inventory_items.each do |inventory_item| %>
    <tr>
        <td><%= inventory_item.barcode %>
        <td><%= inventory_item.status %></td>
        <td><%= inventory_item.lot_number %></td>
        <td><%= inventory_item.expiration_date %></td>
        <td><%= inventory_item.size %></td>
        <td><%= inventory_item.warehouse.name %></td>
        <td><%= link_to "Edit item", edit_product_inventory_item_path(@product, inventory_item) %></td>
        <td>
          <%= link_to "Delete item", product_inventory_item_path(@product), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Do you confirm deleting this inventory item?"
                    } %>
        </td>
    </tr>
  <% end %>
</table>

<% if @product.inventory_items.blank? %>
  No inventory items yet.
<% end %>