<%= link_to "Home", root_path %> |
<%= link_to "Edit product", edit_product_path(@product) %> |
<%= link_to "Delete product", product_path(@product), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %> |
<%= link_to "Add inventory item", new_product_inventoryitem_path(@product) %>

<h1>Product: <%= @product.name %></h1>

<p>Description: <%= @product.description %></p>
<p>Weight: <%= @product.weight %> kg</p>
<p>Price: $<%= @product.price %></p>
<p>Brand: <%= @product.brand %></p>

<h2>Inventory</h2>

<h3>Inventory statistics</h3>
<table border="1">
  <tr>
    <td>Total</td>
    <td>In stock</td>
    <td>Reserved</td>
    <td>Incoming</td>
    <td>Sold</td>
    <td>Expired</td>
    <td>Time for sale</td>
  </tr>

  <% @product.inventoryitems.each do |inventoryitem| %>
    <tr>
        <td><%= @total_count %>
        <td><%= @instock_count %></td>
        <td><%= @reserved_count %></td>
        <td><%= @incoming_count %></td>
        <td><%= @sold_count %></td>
        <td><%= @expired_count %></td>
        <td></td>
    </tr>
  <% end %>
</table>

<h3>Inventory items</h3>
<table border="1">
  <tr>
    <td>Barcode</td>
    <td>Status</td>
    <td>Lot Number</td>
    <td>Expiration Date</td>
    <td>Size</td>
    <td>Alert</td>
    <td>Edit</td>
    <td>Delete</td>
  </tr>

  <% @product.inventoryitems.each do |inventoryitem| %>
    <tr>
        <td><%= inventoryitem.barcode %>
        <td><%= inventoryitem.status %></td>
        <td><%= inventoryitem.lot_number %></td>
        <td><%= inventoryitem.expiration_date %></td>
        <td><%= inventoryitem.size %></td>
        <td>
          <% if (inventoryitem.expiration_date.to_s..Time.now.strftime("%Y-%m-%d")).count <= 0 %>
            Expired
          <% elsif (inventoryitem.expiration_date.to_s..Time.now.strftime("%Y-%m-%d")).count < 4 and
          (inventoryitem.expiration_date.to_s..Time.now.strftime("%Y-%m-%d")).count > 0 %>
            Time for sale
          <% else %>
            None
          <% end %>
        </td>
        <td><%= link_to "Edit item", edit_product_inventoryitem_path(@product, inventoryitem) %></td>
        <td>
          <%= link_to "Delete item", product_inventoryitem_path(@product), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Do you confirm to delete this inventory item?"
                    } %>
        </td>
    </tr>
  <% end %>
</table>

<% if @product.inventoryitems.blank? %>
  No inventory items yet.
<% end %>