<%= form_with model: warehouse do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% warehouse.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>

  <p>
    <%= form.label :zip_code %><br>
    <%= form.text_field :zip_code %>
    <% warehouse.errors.full_messages_for(:zip_code).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>

  <p>
    <%= form.label :province %><br>
    <%= form.select :province, ['AB', 'BC', 'MB', 'NB', 'NL', 'NS', 'ON', 'PE', 'QC', 'SK'] %>
    <% warehouse.errors.full_messages_for(:province).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>

  <p>
    <%= form.label :city %><br>
    <%= form.text_field :city %>
    <% warehouse.errors.full_messages_for(:city).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>