<%= link_to "Home", root_path %> |
<%= link_to "Edit warehouse", edit_warehouse_path(@warehouse) %> |
<%= link_to "Delete warehouse", warehouse_path(@warehouse), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Do you confirm deleting warehouse and all its inventory?"
                  } %>

<h1>Warehouse: <%= @warehouse.name %></h1>

<p>Zipcode: <%= @warehouse.zip_code %> kg</p>
<p>City: $<%= @warehouse.city %></p>
<p>Province: <%= @warehouse.province %></p>

<h3>Inventory items</h3>
<table border="1">
  <tr>
    <td>Barcode</td>
    <td>Status</td>
    <td>Lot Number</td>
    <td>Expiration Date</td>
    <td>Size</td>
    <td>Alert</td>
    <td>Edit</td>
    <td>Delete</td>
  </tr>

  <% @warehouse_inventory_items.each do |warehouse_inventory_item| %>
    <tr>
        <td><%= warehouse_inventory_item.inventory_item.barcode %>
        <td><%= warehouse_inventory_item.inventory_item.status %></td>
        <td><%= warehouse_inventory_item.inventory_item.lot_number %></td>
        <td><%= warehouse_inventory_item.inventory_item.expiration_date %></td>
        <td><%= warehouse_inventory_item.inventory_item.size %></td>
        <td>
          <% if (warehouse_inventory_item.inventory_item.expiration_date.to_s..Time.now.strftime("%Y-%m-%d")).count <= 0 %>
            Expired
          <% elsif (warehouse_inventory_item.inventory_item.expiration_date.to_s..Time.now.strftime("%Y-%m-%d")).count < 4 and
          (warehouse_inventory_item.inventory_item.expiration_date.to_s..Time.now.strftime("%Y-%m-%d")).count > 0 %>
            Time for sale
          <% else %>
            None
          <% end %>
        </td>
        <td><%= link_to "Edit item", edit_product_inventory_item_path(@product, warehouse_inventory_item.inventory_item) %></td>
        <td>
          <%= link_to "Delete item", product_inventory_item_path(@product), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Do you confirm deleting this inventory item?"
                    } %>
        </td>
    </tr>
  <% end %>
</table>

<% if @inventory_items.blank? %>
  No inventory items yet.
<% end %>